
.header {
  background-color: #FF7E54;
  padding: 10px 0; /* Decreased padding for the header */
}

.header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22m-7 8h7'/%3e%3c/svg%3e");
}

.header .navbar-brand {
  font-size: 24px;
}
   
.header .navbar-nav .nav-link {
  padding: 0.5rem 1rem;
}

.header .navbar-nav .nav-link:hover {
  
  border-radius: 0.25rem;
}

.header .navbar-toggler {
  border: 2px solid rgb(201, 185, 185); /* Toggle button border color */
}

/* Default styles */
.header .navbar {
  height: 40px; /* Default height */
}
@media (max-width: 768px) {
  .top img {
    height: 200px;
    object-fit: cover;
  }
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .header .navbar {
    height: 60px; /* Adjusted height for mobile view */
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0px;
}



/* Style for the box */
/* Style for the box */
/* Style for the box */
.box {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.box-content {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

/* Style for the quotes */
.myview-quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -10px; /* Adjust the margin as needed */
}

.myview-quotes img {
  max-width: 100%; /* Adjust the width as needed */
  height: auto;
  border-radius: 10px;
  margin: 10px 10px; /* Adjust the margin as needed */
}

















@media (max-width: 767px) {
  .footer .col-md-6 {
    width: 100%; /* Ensure full width for columns on smaller screens */
    margin-bottom: 20px; /* Add spacing between columns */
  }

  .footer .mt-3 {
    margin-top: 20px; /* Add margin at the top for better spacing */
  }

  .footer h3 {
    margin-top: 20px; /* Add margin at the top for better spacing */
  }

  .footer .row h6 {
    margin-top: 10px; /* Add margin at the top for better spacing */
  }
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-container {
  flex: 1;
  border-radius: 50px 0 0 50px;
  overflow: hidden;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #f30a0a;
  border-right: none;
}

.subscribe-btn {
  border-radius: 0 50px 50px 0;
  padding: 10px 20px;
  background-color: rgb(252, 111, 59);
  color: #fff;
  border: none;
  cursor: pointer;
}

.pmcare-btn {
  border-radius: 50px;
  margin-bottom: 10px;
  border: 2px solid white;
  color: white;
  width: 300px;
}